openapi: 3.0.0
info:
  title: 'AQHub API'
  contact:
    name: 'Dayvson Spacca'
    email: spacca.dayvson@gmail.com
  version: 1.0.0
servers:
  -
    url: 'https://aqhub-api.dayvsonspacca.com'
paths:
  /armors/list:
    get:
      tags:
        - Armors
      summary: 'List armors'
      operationId: e99d4ba03b1f0583bbec1d89516fa4ba
      parameters:
        -
          parameter: page
          name: page
          in: query
          description: 'The requested page number for pagination.'
          example: 1
        -
          parameter: page_size
          name: page_size
          in: query
          description: 'The number of results per page (max: 100).'
          example: 1
        -
          parameter: name
          name: name
          in: query
          description: 'A partial or full name of an item.'
          example: ArchPaladin
        -
          parameter: rarities
          name: rarities
          in: query
          description: 'A list of items rarities separeted by comma.'
          example: 'Weird,Rare,Epic,Legendary,Awesome,Seasonal,Artifact,Boss Drop,Impossible,1% Drop,Unknown,Secret'
        -
          parameter: tags
          name: tags
          in: query
          description: 'A list of tags associated to the item separed by comma'
          example: 'Legend,Adventure Coins,Rare,Pseudo Rare,Seasonal,Special Offer'
      responses:
        '200':
          description: 'List of armors'
          content:
            application/json:
              schema:
                properties:
                  filter: { $ref: '#/components/schemas/ArmorFilterSchema' }
                  armors: { description: 'The list of armors.', type: array, items: { $ref: '#/components/schemas/ArmorSchema' } }
                  total: { description: 'The total of armors by filter ignoring pagination.', type: integer }
                type: object
  /capes/list:
    get:
      tags:
        - Capes
      summary: 'List capes'
      operationId: 0932246925866a4310d04c83bd57db1e
      parameters:
        -
          parameter: page
          name: page
          in: query
          description: 'The requested page number for pagination.'
          example: 1
        -
          parameter: page_size
          name: page_size
          in: query
          description: 'The number of results per page (max: 100).'
          example: 1
        -
          parameter: name
          name: name
          in: query
          description: 'A partial or full name of an item.'
          example: ArchPaladin
        -
          parameter: rarities
          name: rarities
          in: query
          description: 'A list of items rarities separeted by comma.'
          example: 'Weird,Rare,Epic,Legendary,Awesome,Seasonal,Artifact,Boss Drop,Impossible,1% Drop,Unknown,Secret'
        -
          parameter: tags
          name: tags
          in: query
          description: 'A list of tags associated to the item separed by comma'
          example: 'Legend,Adventure Coins,Rare,Pseudo Rare,Seasonal,Special Offer'
        -
          parameter: page_size
          name: can_access_bank
          in: query
          description: 'The cape can access bank (Y or N).'
          example: 'Y'
      responses:
        '200':
          description: 'List of capes'
          content:
            application/json:
              schema:
                properties:
                  filter: { $ref: '#/components/schemas/CapeFilterSchema' }
                  capes: { description: 'The list of capes.', type: array, items: { $ref: '#/components/schemas/CapeSchema' } }
                  total: { description: 'The total of capes by filter ignoring pagination.', type: integer }
                type: object
components:
  schemas:
    ArmorFilterSchema:
      title: 'Armor Filters Details'
      description: 'The armor requested filter.'
      properties:
        id:
          description: 'The unique identifier of the item.'
          type: string
          example: 5a3e1b7c-2d9f-4e0a-9c8b-6f7d5c4b3a21
        name:
          description: 'The name of the item.'
          type: string
          example: Awe
        registered_at:
          description: 'Date and time the item was registered in AQHub APi (Y-m-d H:i:s).'
          type: string
          format: date-time
          example: '2025-10-24 16:30:00'
        rarities:
          description: 'The requested items rarities.'
          type: array
          items:
            type: string
          example:
            - Weird
            - Rare
            - Epic
            - Legendary
            - Awesome
            - Seasonal
            - Artifact
            - 'Boss Drop'
            - Impossible
            - '1% Drop'
            - Unknown
            - Secret
          nullable: true
        tags:
          description: 'The requested items tags.'
          type: array
          items:
            type: string
          example:
            - Legend
            - 'Adventure Coins'
            - Rare
            - 'Pseudo Rare'
            - Seasonal
            - 'Special Offer'
          nullable: true
      type: object
    ArmorSchema:
      title: 'Armor Details'
      description: 'The complete structure of an armor item.'
      properties:
        id:
          description: 'The unique identifier of the item.'
          type: string
          example: 5a3e1b7c-2d9f-4e0a-9c8b-6f7d5c4b3a21
        name:
          description: 'The name of the item.'
          type: string
          example: Awe
        description:
          description: 'The full description of the item.'
          type: string
          example: 'A legendary item found in the depths of Lore.'
        registered_at:
          description: 'Date and time the item was registered in AQHub API (Y-m-d H:i:s).'
          type: string
          format: date-time
          example: '2025-10-24 16:30:00'
        rarity:
          description: 'The rarity of an item.'
          type: string
          enum:
            - Weird
            - Rare
            - Epic
            - Legendary
            - Awesome
            - Seasonal
            - Artifact
            - 'Boss Drop'
            - Impossible
            - '1% Drop'
            - Unknown
            - Secret
          example: Awesome
          nullable: true
        tags:
          description: 'List of tags associated with the item.'
          type: array
          items:
            type: string
          example:
            - Legend
            - 'Adventure Coins'
            - Rare
            - 'Pseudo Rare'
            - Seasonal
            - 'Special Offer'
          nullable: false
      type: object
    CapeFilterSchema:
      title: 'Cape Filters Details'
      description: 'The cape requested filter.'
      properties:
        can_access_bank:
          description: 'Item can access bank.'
          type: boolean
          example: true
          nullable: true
        id:
          description: 'The unique identifier of the item.'
          type: string
          example: 5a3e1b7c-2d9f-4e0a-9c8b-6f7d5c4b3a21
        name:
          description: 'The name of the item.'
          type: string
          example: Awe
        registered_at:
          description: 'Date and time the item was registered in AQHub APi (Y-m-d H:i:s).'
          type: string
          format: date-time
          example: '2025-10-24 16:30:00'
        rarities:
          description: 'The requested items rarities.'
          type: array
          items:
            type: string
          example:
            - Weird
            - Rare
            - Epic
            - Legendary
            - Awesome
            - Seasonal
            - Artifact
            - 'Boss Drop'
            - Impossible
            - '1% Drop'
            - Unknown
            - Secret
          nullable: true
        tags:
          description: 'The requested items tags.'
          type: array
          items:
            type: string
          example:
            - Legend
            - 'Adventure Coins'
            - Rare
            - 'Pseudo Rare'
            - Seasonal
            - 'Special Offer'
          nullable: true
      type: object
    CapeSchema:
      title: 'Cape Details'
      description: 'The complete structure of a cape item returned by the API.'
      properties:
        can_access_bank:
          description: 'Item can access bank.'
          type: boolean
          example: true
          nullable: true
        id:
          description: 'The unique identifier of the item.'
          type: string
          example: 5a3e1b7c-2d9f-4e0a-9c8b-6f7d5c4b3a21
        name:
          description: 'The name of the item.'
          type: string
          example: Awe
        description:
          description: 'The full description of the item.'
          type: string
          example: 'A legendary item found in the depths of Lore.'
        registered_at:
          description: 'Date and time the item was registered in AQHub API (Y-m-d H:i:s).'
          type: string
          format: date-time
          example: '2025-10-24 16:30:00'
        rarity:
          description: 'The rarity of an item.'
          type: string
          enum:
            - Weird
            - Rare
            - Epic
            - Legendary
            - Awesome
            - Seasonal
            - Artifact
            - 'Boss Drop'
            - Impossible
            - '1% Drop'
            - Unknown
            - Secret
          example: Awesome
          nullable: true
        tags:
          description: 'List of tags associated with the item.'
          type: array
          items:
            type: string
          example:
            - Legend
            - 'Adventure Coins'
            - Rare
            - 'Pseudo Rare'
            - Seasonal
            - 'Special Offer'
          nullable: false
      type: object
tags:
  -
    name: Armors
  -
    name: Capes
    description: Capes
