name: Run Tests, Format, and Generate API Docs (Modular)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  call-tests:
    name: Run Tests
    uses: ./.github/workflows/reusables/run-tests.yaml 

  call-generate-docs:
    name: Generate API Documentation
    needs: call-tests
    uses: ./.github/workflows/reusables/generate-docs.yaml

  call-format:
    name: Format Code
    needs: call-generate-docs
    uses: ./.github/workflows/reusables/format-code.yaml