name: Run Tests, Format, and Generate API Docs (Modular)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  call-tests:
    name: Run Tests
    uses: ./.github/workflows/run-tests.yaml 
    
  call-format-and-generate-docs:
    name: Format Code and Generate API Documentation
    needs: call-tests
    permissions:
      contents: write
    uses: ./.github/workflows/format-and-generate-docs.yaml